body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: auto;
  /* Makes background fixed regardless of screen size */
  background-attachment: fixed;
  background-image: url("../img/background2.webp");
}

.hidden {
  display: none !important;
}

article > div {
  /* margin: top, right, bottom, left */
  margin: 0px 50px 50px 50px;
}

main article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 50px;
  /* border: 1px solid grey; */
}

.list-background a > img {
  width: 300px;
  height: 343px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.list-background {
  /* background-color: #FEEA80; */
  background-color: #F7CE46;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 300px;
}

.detail-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.detail-container .right-side img {
  width: 43px;
  height: 51px;
}

.detail-container .right-side img:hover, #checkout {
  cursor: pointer;
}

.detail-container .left-side a {
  font-size: 18px;
  color: #373737;
}

.detail-container .left-side a, p {
  font-family: 'DM Serif Display', serif;
  margin-top: 3px;
  text-decoration: none;
}

.detail-container .left-side p {
  font-family: 'Amiri', sans-serif;
  margin-bottom: 0;
}

.detail-container .left-side {
  /* border: 1px solid blue; */
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.detail-container .right-side {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
  padding-right: 25px;
}

.detail-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

h1, #loading p {
  font-family: 'Raleway', sans-serif;
}

#item-list {
  margin-top: 100px;
}

/* **** Alert banner ****/
#banner-img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

#cart-banner {
  background-color: #F7E3A1;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 15px 15px 15px 10px;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 2px grey);
}

.cart-banner-hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s linear; /* Transition for fade-out effect */
}

.cart-banner-visible {
  visibility: visible;
  position: fixed;
  top: 150px;
  right: 20px;
  z-index: 1000;
}

.banner-transition {
  animation: move-in 0.3s ease-out forwards,
    fadeOut 0.5s ease-out forwards 4s;
}

@keyframes move-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0
  }
}

#cart-message {
  margin: 0 auto;
}

.add-to-cart-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.prod-title {
  white-space: initial;
}

/* ? BLACK MAGIC PART */
.masthead {
  height: 60vh;
  background-size: cover;
  position: relative;
  color: white;
}

.masthead h1 {
  font-size: 75px;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(171, 171, 171, 0.5);
}

@media screen and (max-width: 992px) {
  .masthead {
    height: 30vh;
  }

  .masthead h1 {
    font-size: 48px;
  }
}
/* ???????????????????? */